<div class="text-start mx-5">
  <ng-container *ngFor="let secondaryProject of secondaryProjects">
    <div class="d-flex justify-content-between">
      <h4>{{ secondaryProject.title }}</h4>
      <a
        routerLink="{{ secondaryProject.url }}"
        style="text-decoration: none; color: grey"
        pTooltip="Go to site"
        tooltipPosition="top"
        ><i class="pi pi-external-link"></i>
      </a>
    </div>
    <p>
      {{ secondaryProject.description }}
    </p>
    <div class="d-flex">
      <p>Stack:</p>
      <div class="button-container-stack">
        <ng-container *ngFor="let stack of secondaryProject.stack">
          <button class="button-project-stack" value="{{ stack }}">
            {{ stack }}
          </button>
        </ng-container>
      </div>
    </div>
    <hr class="hr-style" />
  </ng-container>
</div>
