<div class="p-4">
  <img
    src="assets/img/tobirama_04.jpg"
    class="rounded-circle shadow"
    alt=""
    height="222"
    width="222"
  />
</div>
<div class="p-2">
  <h2>Hi, I'm Gustavo Corona</h2>
  <p style="font-size: 22px; margin: 5px">Informatics Engineer</p>
  <div>
    <h4>Contact: </h4>
  </div>
  <div class="p-0">
    <p class="fs-5">
      <i class="pi pi-envelope px-2" style="font-size: 1.2rem"></i>
      gustavogcm487@gmail.com
      <button
        class="copy-button shadow-sm px-3 mx-2"
        pTooltip="Copy"
        tooltipPosition="right"
      >
        <i class="pi pi-clone" style="font-size: 1rem"></i>
      </button>
    </p>
  </div>
  <div class="p-0">
    <p class="fs-5">
      <i class="pi pi-phone px-2" style="font-size: 1.2rem"></i>
      +52 0000000000
      <button
        class="copy-button shadow-sm px-3 mx-2"
        pTooltip="Copy"
        tooltipPosition="right"
      >
        <i class="pi pi-clone" style="font-size: 1rem"></i>
      </button>
    </p>
  </div>
</div>
