.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-stack {
  background: white;
  color: rgb(94, 94, 94);
  border-radius: 7px;
  border: solid rgba(228, 228, 228, 0.349) 0.5px;
  font-weight: 600;
  margin: 7px;
  padding: 12px;
  transition: all .25s;
}

.button-stack[value="Angular"]:hover {
  background: rgb(255, 12, 12) !important;
  color: white !important;
  transition: all .25s;
}
.button-stack[value="Laravel"]:hover {
  background: rgb(222, 48, 48) !important;
  color: white !important;
  transition: all .25s;
}
.button-stack[value="PHP"]:hover {
  background: rgb(162, 41, 254) !important;
  color: white !important;
  transition: all .25s;
}
.button-stack[value="TypeScript"]:hover {
  background: rgb(36, 85, 230) !important;
  color: white !important;
  transition: all .25s;
}
.button-stack[value="JavaScript"]:hover {
  background: rgb(237, 217, 0) !important;
  color: black !important;
  transition: all .25s;
}
.button-stack[value="Docker"]:hover {
  background: rgb(0, 166, 237) !important;
  color: white !important;
  transition: all .25s;
}
.button-stack[value="MySQL"]:hover {
  background: rgb(80, 52, 235) !important;
  color: white !important;
  transition: all .25s;
}
