<div class="text-start mx-5">
  <div class="d-flex justify-content-between">
    <h4>SISECOP (Sistema de Seguimiento y Control de Proyectos)</h4>
    <a
      href="/"
      style="text-decoration: none; color: grey"
      pTooltip="Go to site"
      tooltipPosition="top"
      ><i class="pi pi-external-link"></i>
    </a>
  </div>
  <p>
    Un sistema diseñado para organizar, supervisar y gestionar el progreso, las
    obras y los recursos de múltiples proyectos, facilitando la coordinación
    entre equipos y mejorando la eficiencia en la entrega de reportes.
  </p>
  <div class="d-flex">
    <p>Stack:</p>
    <div class="button-container-stack">
      <button class="button-project-stack" value="Angular">Angular 15</button>
      <button class="button-project-stack" value="Laravel">Laravel 9</button>
      <button class="button-project-stack" value="Docker">Docker</button>
    </div>
  </div>
  <hr class="hr-style" />
</div>
<div class="text-start mx-5">
  <div class="d-flex justify-content-between">
    <h4>PalmitaTown</h4>
    <a
      href="/"
      style="text-decoration: none; color: grey"
      pTooltip="Go to site"
      tooltipPosition="top"
      ><i class="pi pi-external-link"></i>
    </a>
  </div>
  <p>
    PalmitaTown simplifica la gestión de inventario, ventas y contabilidad.
    Desde el seguimiento detallado de platillos vendidos hasta la gestión de
    inventario para mantener los productos frescos y surtidos, PalmitaTown
    facilita las operaciones diarias del restaurante. Con herramientas
    intuitivas para sacar cuentas y generar informes, PalmitaTown es la solución
    ideal para restaurantes que desean optimizar su eficiencia y ofrecer una
    experiencia culinaria excepcional a sus clientes.
  </p>
  <div class="d-flex">
    <p>Stack:</p>
    <div class="button-container-stack">
      <button class="button-project-stack" value="Angular">Angular 15</button>
      <button class="button-project-stack" value="Laravel">Laravel 9</button>
      <button class="button-project-stack" value="Docker">Docker</button>
    </div>
  </div>
  <hr class="hr-style" />
</div>
